
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Nombre del producto:*</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Plástico">
                                    <!-- <small class="form-control-feedback"> This is inline help </small> --> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">SKU:</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="PRO-001">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> --> </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Categoría:</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 1">Category 1</option>
                                        <option value="Category 2">Category 2</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Unidad:</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 1">Category 1</option>
                                        <option value="Category 2">Category 2</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Descripción:</label>
                                    <textarea class="form-control" name="" id="" cols="30" rows="3" placeholder="Ej: Uso en invernaderos"></textarea>
                                    <!-- <small class="form-control-feedback"> Select your gender </small>  --></div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Especificaciones:</label>
                                    <textarea class="form-control" name="" id="" cols="30" rows="3" placeholder="Ej: Verde, 2mm, Japones"></textarea>

                                </div>
                            </div>
                            
                            <!--/span-->
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Precio de compra sin impuestos:*</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="59.50">
                                    <!-- <small class="form-control-feedback"> This is inline help </small> --> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Cantidad para alertar:</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="PRO-001">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> --> </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Iva:</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 1">Iva 1</option>
                                        <option value="Category 2">Iva 2</option>
                                        <option value="Category 3">Iva 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Precios de venta:</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 1"> 1 Precio</option>
                                        <option value="Category 2"> 2 Precios</option>
                                        <option value="Category 3"> 3 Precios</option>
                                        <option value="Category 4"> 4 Precios</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                       
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Crear</button>
                        <button type="button" class="btn btn-inverse">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
