<div class="row animated fadeIn fast">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Archivo para importar</h4>
                <div class="text-center">
                    <input style="width: 30%;" class="importar-clientes" type="file" id="exampleInputFile" aria-describedby="fileHelp"
                        class="form-control">
                        &nbsp;
                        <button type="button"class="btn btn-info waves-effect waves-light m-r-10" >
                        <i class="fa fa-send"></i>
                        Enviar </button>
                        <button type="button" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-download"></i>
                            Descargar Plantilla </button>
                </div>
                
            </div>
        </div>
    </div>
 
</div>
<div class="row animated fadeIn fast">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Instrucciones</h4>
                <h6 class="card-subtitle">Siga las instrucciones cuidadosamente antes de importar el archivo.</h6>
                <h6 class="card-subtitle">Las columnas del archivo CSV deben estar en el siguiente orden.</h6>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Número de Columna</th>
                                <th>Nombre de Columna</th>
                                <th>Instrucciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>SKU</td>
                                <td>Código de producto</td>
                            </tr>
    
                            <tr>
                                <td>2</td>
                                <td>NAME</td>
                                <td>Nombre del producto</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>DESCRIPTION</td>
                                <td>Descripción del Producto</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>SPECIFICATION</td>
                                <td>Especificaciones Técnicas</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>PUR_PRICE</td>
                                <td>Precio compra</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>MIN_STOCK</td>
                                <td>Alerta de stock</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>STOCK</td>
                                <td>Stock actual</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
